{% macro applause_button(article) %} {% from '_includes/_defaults.html' import
APPLAUSE_BUTTON with context %}

{% if (APPLAUSE_BUTTON or article.applause_button == "on") and article.applause_button != "off" %}

{% set url = SITEURL+ '/' + article.url %}
{% set identifier = SITEURL+ '/' + article.url %}
{% if article.applause_button_id %}
{% set identifier = article.applause_button_id %}
{% endif %}

<div class="applause_button">
    <applause-button url={{ identifier }}> </applause-button>
</div>

{% endif %} {% endmacro %}
