<footer>
    {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
    {% if SITE_LICENSE %}
    <div>
        {{ SITE_LICENSE }}
    </div>
    {% endif %}

    {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
    {% if SITESUBTITLE %}
    <div>
        <span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}
    </div>
    {% endif %}


    {% if AMAZON_ONELINK or AMAZON_BESTAZON %}
    <span class="site-name">{{ SITENAME }}</span>  is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.
    {% endif %}
    {% if AMAZON_ONELINK %}
    <div id="amzn-assoc-ad-{{ AMAZON_ONELINK }}">
    </div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId={{ AMAZON_ONELINK }}">
    </script>
    {% endif %}

    <div id="fpowered">
        Powered by: <a href="http://getpelican.com/" title="Pelican Home Page" target="_blank" rel="nofollow noopener noreferrer">Pelican</a>
        Theme: <a href="https://elegant.oncrashreboot.com/" title="Theme Elegant Home Page" target="_blank" rel="nofollow noopener noreferrer">Elegant</a>
        {% if HOSTED_ON and HOSTED_ON.name %}
        Hosted on:
        {% if HOSTED_ON.url %}
        <a href={{ HOSTED_ON.url }} target="_blank" rel="nofollow noopener noreferrer">
            {{ HOSTED_ON.name }}
        </a>
        {% else %}
        {{ HOSTED_ON.name }}
        {% endif %}
        {% endif %}
    </div>
</footer>
