{% if STAT_COUNTER_PROJECT and STAT_COUNTER_SECURITY %}
<!-- Start of StatCounter Code for Default Guide -->
<script>
var sc_project={{ STAT_COUNTER_PROJECT }};
var sc_invisible=1;
var sc_security="{{ STAT_COUNTER_SECURITY }}";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank" rel="nofollow noopener noreferrer"><img
class="statcounter"
src="//c.statcounter.com/{{ STAT_COUNTER_PROJECT }}/0/{{ STAT_COUNTER_SECURITY }}/1/"
alt="web analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
{% endif %}
