beautifulsoup4==4.9.3
blinker==1.4
cssmin==0.2.0
ddt==1.4.2
docutils==0.17.1
feedgenerator==1.9.1
gitdb==4.0.7
gitdb2==4.0.2
GitPython==3.1.19
invoke==1.6.0
Jinja2==3.0.1
jinjaninja==0.1.2
livereload==2.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
pelican==4.6.0
Pygments==2.9.0
python-dateutil==2.8.2
pytz==2021.1
six==1.16.0
smartypants==2.0.1
smmap==4.0.0
smmap2==3.0.1
soupsieve==2.2.1
tornado==6.1
typogrify==2.0.7
Unidecode==1.2.0
webassets==2.0
